<!DOCTYPE html>
<html>
<head><title>Add Vehicle</title></head>
<body>
  <h1>Add New Vehicle</h1>
  <form method="POST" action="/add">
    <input type="text" name="vehicleName" placeholder="Name" required><br>
    <input type="number" name="price" placeholder="Price" required><br>
    <input type="text" name="image" placeholder="Image URL" required><br>
    <input type="text" name="desc" placeholder="Description" required><br>
    <input type="text" name="brand" placeholder="Brand" required><br>
    <button type="submit">Add</button>
  </form>
</body>
</html>
